@tailwind base;
@tailwind components;
@tailwind utilities;


.link{
    text-decoration: none;
    color: white;
}

.globally-hover:hover {
  color: #00bdbb;
  transition: 0.2s ease-in;
}

.Blog-layout {
  background: url('/assets/images/asset\ 60.jpeg') no-repeat center;
}

.scroller-attach {
  background: url('../public/assets/images/asset\ 59.jpeg') no-repeat center;
  background-attachment: fixed;
}

.testimonial {
  background: url('../public/assets/images/asset\ 61.jpeg') no-repeat;
}

.footer {
  background-attachment: fixed;
}

.foot-btn button:hover{ 
  background-color: white;
  color: black !important;
}

.icons-social:hover {
  color: white;
}
